@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

.custom-img{
background-image: url('https://images.unsplash.com/photo-1623537465950-7814191455b5?ixlib=rb-4.0.3&');
}

.backgroundImg{
  background-image: url("../pages/img/background2.jpg");
}

.icon{
  background-image: url("../components/turtle.png");
}